<div class="footer">

  <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <img alt="Lotu" src="https://cdn02.plentymarkets.com/zutknpm68xcd/frontend/Logo_Gadgets4kids.png" class="img-fluid" width="100">
          <p>Sorglos.</p>
            <hr>
            <li><a href="{{ urls.contact }}">Kontaktformular</a></li>
            <li><a href="tel: +49 211 50661662">+49 (0)211 50661662</a></li>
            <li><a href="mailto:info@gadgets4kids.de">info@gadgets4kids.de</a></li>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">

          <ul>
            <h3>Wichtige Links</h3>
            <li><a href="/zahlungsarten">Zahlungsarten</a></li>
            <li><a href="/versand">Versand</a></li>
            <li><a href="/retoure">Retoure</a></li>
          </ul>

        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">

          <ul>
            <h3>Mein Konto</h3>
            <li><a href="/login">Anmelden</a></li>
            <li><a href="/register">Registrieren</a></li>
            <li><a href="/basket">Warenkorb</a></li>
            <li><a href="/chekcout">Kasse</a></li>
          </ul>

        </div>


        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">

          <ul>
            <h3>Rechtliches</h3>
            <li><a href="{{ urls.gtc }}">AGB</a></li>
            <li><a href="{{ urls.privacyPolicy }}">Datenschutzerklärung</a></li>
            <li><a href="{{ urls.legalDisclosure }}">Impressum</a></li>
            <li><a href="{{ urls.cancellationRights }}">Widerrufsrecht</a></li>
            <li><a href="/documents/widerrufsform/widerrufsformular.pdf">Widerrufsformular</a></li>



          </ul>
        </div>
        <div class="copyright text-xs-center m-y-1">
          <small>&copy; Copyright {{ "now" | date("Y") }} | {{ trans("Ceres::Template.footerAllRightsReserved") }}</small>
        </div>

      </div>
  </div>

</div>
